/* nav styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav_title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}

.nav_title span {
    color: #2ea;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    /* text-decoration: none; */
    color: #474747;
}

/* header styles */

header {
    background-color: #E8FDF6;
}

.profile_pic {
    width: 500px;
    height: 500px;
    /* background: url("./../img/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("./../img/header_bg.png"), url("./../img/Developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    background-size: 65%, 5% 100%;
}

.banner_content {
    max-width: 585px;
}

.banner_title {
    font-size: 85px;
}

.banner_greeting {
    font-size: 45px;
}

.banner_description {
    font-size: 18px;
}